<div class="container-lg bg-primary"></div>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<body class="plce-in">
 <div>
     <li>
       <img src=".\assets\imagenes\logo.png" alt="" width="10%">
     </li>
     <li>
        <h1 class="text-center">Gestionar Calificaciones</h1>
    </li>
</div>
</body>
<hr class="dd" size="20px" width="100%"na >
<div class="container mt-5">
<form>
  <div>
    <label for="inputState">Asignatura</label>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option selected>Seleccione
      <option value="1"> Biología</option>
      <option value="2">Educación Física</option>
      <option value="3">Filosofía</option>
      <option value="4">Física</option>
      <option value="5">Geología</option>
      <option value="6">Inglés</option>
      <option value="7">Lengua Castellana y Literatura I Filosofía</option>
      <option value="8">Matemáticas</option>
      <option value="9">Química</option>
      <option value="10">Religión</option>
    </select>
  </div>
  <br>
  <div>
    <label for="inputState">Curso</label>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option selected>Seleccione
      <option value="1">1º</option>
      <option value="2">2º</option>
      <option value="3">3º</option>
      <option value="4">4º</option>
      <option value="5">5º</option>
      <option value="6">6º</option>
      <option value="7">7º</option>
      <option value="8">8º</option>
      <option value="9">9º</option>
      <option value="10">10º</option>
      <option value="11">11º</option>
    </select>
  </div>
  <br>
  <div>
    <label for="inputState">Periodo</label>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option selected>Seleccione
      <option value="1">1ro</option>
      <option value="2">2do</option>
      <option value="3">3er</option>
      <option value="4">4to</option>
    </select>
  </div>
  <figure class="figure">
    <img src="/src/assets/imagenes/logo.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
  </figure>
  <br>
  <div>
    <button class="boton-m">Buscar</button>
  </div>
</form>