<body class="plce-in">
 
    <img src=".\assets\imagenes\logo.png" alt="" width="10%">
  </body>
  
    <hr class="dd" size="20px" width="100%"na >
    
  
  <div class="container mt-2">
  <form action="">
    <h1 class="text-center">Actualizar Datos Del Estudiante</h1>
  <div class="row">
   
  <div class="col-sm-4">
    <div class="form-group">
      <label for="">Nombre</label><input type="text" class="form-control" placeholder="Agregue el nombre">
      </div>
  </div>
  
  
  <div class="col-sm-4">
    <div class="for-group">
      <label for="">Apellido</label><input type="text" class="form-control" placeholder="Agregue Apellido">
      </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <label for="">Curso al que Ingresa</label><input type="number" class="form-control" placeholder="Agregue el Curso en el cual se va matriculr">
        </div>
  </div>
  
  <div class="col-sm-4">
  <div class="form-group">
  <label for="">fecha</label><input type="date" class="form-control" placeholder="Ingrese la fecha de Registro">
  </div>
  </div>
  
  <div class="col-sm-4">
  <div class="form-group">
  <label for="">  Documento </label> <input type="number" class="form-control" placeholder="Documento"> 
  </div>
  </div>
  
  <div class="col-sm-4">
    <div class="form-group">
      <label for=""> Eps </label> <input type="text" class="form-control" placeholder="Eps">
    </div>
  </div>
  
  <div class="col-sm-4">
  <div class="form-group">
  <label for=""> Edad </label> <input type="number" class="form-control" placeholder="Edad">
  </div>
  </div>
  
  <div class="col-sm-4">
    <div class="form-group">
      <label for="">Lugar de Nacimiento</label> <input type="text" class="form-control" placeholder="Ciudad de Nacimiento">
  </div>
  </div>
  
  <div class="col-sm-4">
  <div class="form-group">
    <label for="">Dirección</label> <input type="text" class="form-control" placeholder="Dirección">
  </div>
  </div>
  
  <div class="col-sm-4">
    <div class="form-group">
      <label for="">Barrio</label> <input type="text" class="form-control" placeholder="Barrio">
    </div>
    </div>
  
    <div class="col-sm-4">
      <div class="form-group">
        <label for="">RH</label> <input type="text" class="form-control" placeholder="Tipo de sangre">
      </div>
      </div>
  
      <div class="col-sm-4">
        <div class="form-group">
          <label for="">Celular</label> <input type="text" class="form-control" placeholder="Numero Celular">
        </div>
        </div>
  
        <div class="col-sm-4">
          <div class="form-group">
            <label for="">fecha Nacimiento</label> <input type="date" class="form-control" placeholder="fecha Nacimiento">
          </div>
          </div>
  
          <div class="col-sm-4">
            <div class="form-group">
              <label for="">puntaje sisben</label> <input type="number" class="form-control" placeholder="puntaje sisben">
            </div>
            </div>
  
            <div class="col-sm-4">
              <div class="form-group">
                <label for="">Telefono</label> <input type="number" class="form-control" placeholder="Numero Telefonico">
              </div>
              </div>
  
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="">Estrato</label> <input type="number" class="form-control" placeholder="Estrato">
                </div>
                </div>
  
                <p></p>
    
                <hr class="dd" size="20px" width="100%"na >
    
               
  </div>

  
  
  </form>
  
  <div class="text-lg-center"><button class="boton-m">Guardar</button>
    <button onclick="gestion_matriculas()">Click me</button>
  
  <p></p><p></p>
  
  </div>
  </div>
  
