<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">School Management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Perfil
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Registrar</a></li>
              <li><a class="dropdown-item" href="#">Editar</a></li>
              <li><a class="dropdown-item" href="#">Cambiar Contraseña</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>

          </li>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Gestion de Usuarios
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Crear Nuevo Usuario</a></li>
              <li><a class="dropdown-item" href="#">Actualizar</a></li>
              <li><a class="dropdown-item" href="#">Borrar</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
            
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/gestionar-calificaciones">Calificaciones</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Matriculas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/gestion-matricula">Registrar</a></li>
              <li><a class="dropdown-item" >Actualizar</a></li>
              <li><a class="dropdown-item" routerLink="/gestion-consultas">Consultar</a></li>
              <li><a class="dropdown-item" href="#">Borrar</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" >Reporte</a>
          </li>
        </ul>
        <form class="d-flex">
          
        
        </form>
      </div>
    </div>
  </nav>